   *{
      font-family:sans-serif;
      font-weight:bold;
      margin:0;
      padding:0;
    }
    p{
      font-size:80px;
      padding-left:10px;
    }
    body{
        background:url(png.png);
    }
    article{      
        width:500px;
        height:500px;
        position:absolute;
        top:50%;
        left:50%;
        margin:-250px;
        -webkit-transform-style:preserve-3d;
        display:inline-block;
        z-index:10;
    }
    section{
      width:300px;
      height:300px;
      position:absolute;
      top:50%;
      left:50%;
      margin:-150px;
      -webkit-transform-style:preserve-3d;
      display:inline-block;
      z-index:10;
    }
section:nth-child(2){
    -webkit-transform: translateY(-50px) translateX(50px) translateZ(50px);
}
section:nth-child(3){
    -webkit-transform: translateY(-50px) translateX(50px) translateZ(-50px);
}
section:nth-child(4){
    -webkit-transform: translateY(-50px) translateX(-50px) translateZ(-50px);
}
section:nth-child(5){
    -webkit-transform: translateY(-50px) translateX(-50px) translateZ(50px);
}
section:nth-child(6){
    -webkit-transform: translateY(50px) translateX(50px) translateZ(50px);
}
section:nth-child(7){
    -webkit-transform: translateY(50px) translateX(50px) translateZ(-50px);
}
section:nth-child(8){
    -webkit-transform: translateY(50px) translateX(-50px) translateZ(-50px);
}
section:nth-child(9){
    -webkit-transform: translateY(50px) translateX(-50px) translateZ(50px);
}
section div{
      position:absolute;
      width:50px;
      height:50px;
      margin:-25px;
      top:50%;
      left:50%;
      background-image:url(stone.png);
      -webkit-transform:translateZ(25px);
      background-size:50px 50px;
    }
    div:nth-child(2){
      -webkit-transform:rotateY(90deg) translateZ(25px);
    }
    div:nth-child(3){
      -webkit-transform:rotateY(180deg) translateZ(25px);
    }
    div:nth-child(4){
      -webkit-transform:rotateY(-90deg) translateZ(25px);
    }
    div:nth-child(5){
      -webkit-transform:rotateX(90deg) translateZ(25px);
    }
    div:nth-child(6){
      -webkit-transform:rotateX(-90deg) translateZ(25px);
    }
    a{
      display:block;
      position:absolute;
      top:10px;
      right:10px;
      padding:20px;
      font-size:100px;
      z-index:20;
      background:#ccc;
      border-radius:4px;
      border:1px solid #000;
      text-align:center;
      color:#000;
      text-decoration:none;
    }